*.iml
.gradle/
.idea/
.kotlin/
/local.properties
.idea/
.DS_Store
build/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
.test.zip
gradle/
gradlew.bat
build.gradle.kts
gradle.properties
gradlew
local.properties
/.gradle
/local.properties
/.idea
*.log
*.apk
*.ap_
.vscode/